*{ 
	margin: 0;
	padding: 0;
	box-sizing: borderbox;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
	
} 

nav {
    background-color: #228b22; 
    padding: 0px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;      
    top: 0;               
    left: 0;
    width: 100%;          
           


}

.logo img{
  align-items: center;

width: 100px;
height: 75px;
 top: 2;               
 left: 0;


}

nav ul { 
    display: flex ;
	align-items: center ;
	list-style: none ;
	padding: 10px ;

}

nav li {
	margin-left: 10px ;
	
	
}

nav li a {
    text-decoration: none;
    color: black; 
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{
	background-color: white ;
	color: black ;
	
}
.banner {
    
    margin-top: 10px; 
    width: 100%;
    height: 50vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;   
    justify-content: center; 
    
}


.banner1{
	height: 100vh;
	background: #ADD8E6;
	background-size: cover;
	background-position: center;
	display: fixed;
	align-items: center;
	justify-content: center;
	text-align: center;
	
}
.texto{
    background-image: url('img/inicio2.png');
    width: 100%;
    height: 70%;
}
.texto .titulo{
	color: white;
	margin-top:10vh;
	font-size: 60px;
	font-weight: 600px;
	height: 20vh;
	text-align:center;
	
}

.texto .botao{
	margin-top: 30px;
    align-items: center;
	
}

.texto .botao button{
	height: 50px;
	width: 150px;
	border-radius: 5px;
	border: 0;
	margin: 0 10px;
	font-size: 20px;
	font-weight: 500;
	padding: 0 10px;
    background-color: rgb(190, 90, 90);
	
	
}
.centralizado {
    display: block;
    text-align: justify;
    margin: 40px auto;
    padding: 30px;
    max-width: 950px;
    background: hwb(101 83% 6%);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(190, 90, 90, 0.15);
}

.centralizado p {
    color: #070202;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
	
}
.novo-titulo {
    text-align: center;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.centralizado ul {
    padding-left: 0;
    margin: 0;
    text-align: left;
    font-size: 19px;
}

.centralizado ul li {
   color: #000000;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
}
