
*{ 
	margin: 0;
	padding: 0;
	box-sizing: borderbox;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
	
} 
nav {
    background-color: #228b22; 
    padding: 0px 1px;
    display: flex;
    justify-content:space-between;

    position: fixed;      
    top: 0;               
    left: 0;
    width: 100%;          
           


}
.logo img{
  align-items: center;

width: 100px;
height: 75px;
 top: 2;               
 left: 0;


}

nav ul { 

    display: flex ;
	align-items: center ;
	list-style: none ;
	padding: 10px ;
    font-family: 'Roboto', sans-serif;

}

nav li {
	margin-right: 10px ;
	  align-items: right;
	
}

nav li a {
    text-decoration: none;
    color: black; 
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{
	background-color: white ;
	color: black ;
	
}
.texto {
	background-color: white;
	padding: 5px;
	text-align: center;
	line-height: 1.4;
	
	
	
}
.texto .botao{
	margin-top: 30px;
    text-align:center;
	
}

.texto .botao button{
	height: 50px;
	width: 150px;
	border-radius: 12px;
	border: 0;
	margin: 0 10px;
	font-size: 20px;
	font-weight: 500;
	padding: 0 10px;
    background-color: green;
	
}
.texto .botao button:hover{
	
	background-color: white ;
	color: green;
	
}

.banner {
    
    margin-top: 70px; 
    width: 100%;
    height: 95vh; 
    background-image: url('img/inicio.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;   
    justify-content: center; 
    
}


.banner1{
	height: 100vh;
	background: #ADD8E6;
	background-size: cover;
	background-position: center;
	display: fixed;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.texto .titulo{
	color: black;
	font-size: 60px;
	font-weight: 600;
	height: 150px;
	width: 100vh;
	text-align:center;
    font-family: 'Roboto', sans-serif;
	
}	

